body {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}
h4 {
    font-size: 12px;
    font-weight: 500;
    margin-top: -15px;
    opacity: .7;
}

#bg-img {
    position: absolute;
    width: 100%;
    top: -50px;
    z-index: -10;
    left: 0px;
}

#app {
    margin: auto;
    width: 970px;
    height: 565px;
    border: 1px solid white;
    position: relative;
    overflow: hidden;
    margin-top: -20px;
}

#incoming-caller-ring {
    width: 150px;
    margin: auto;
    opacity: 1;
    margin-top: 130px;
    
    img {
        z-index: 0;
        width: 100%;
    }
}

#apple-watch {
    margin: auto;
    width: 173px;
    position: relative;
    top: 300px;

    margin-top: -14px;
    left: 14px;
    /*
    transform: rotate(13deg);
*/
    img {
        width: 100%;
        border-radius: 30px;
    }

}

.bounce {
    margin-top: -140px;
    #incoming-call {
        width: 150px;
        height: 150px;
        position: relative;
        transform:  scale(0) ;
        opacity: 1;
    
        border-radius: 80px;
        border-top: 2px solid white;
        border-bottom: 1px solid white;
        margin: auto;
        
        
        text-align: center;
        color: white;
      
        #text {
            opacity: 1;
            z-index: 100;
            font-size: 16px;
            font-weight: 700;
            padding-top: 50px;
            padding-bottom: 5px;
        }
        #number-container {
    
            #number {
                opacity: 1;
                z-index: 100;
                font-size: 1em;
                font-weight: 700;
                position: relative;
                top: 10px;
                text-shadow: 2px 2px 2px rgba(0, 0, 10px, 0.5);
            }
            #number-bg {
                width: 75%;
                height: 40px;
                position: relative;
                opacity: .75;
                top: -20px;
                z-index: -2;
                border-radius: 5px;
                text-shadow: 2px 2px 2px rgba(206,89,55,0.75);
                display: none;
    
            }
        }
    
        #siri-bg {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -10;
            opacity: .6;
        }
        
    }
    
}



#caller-info-panel {
    width: 200px;
    height: auto;
    position: absolute;
    border-top: 2px solid white;
    border-bottom: 1px solid white;
    color: white;
    border-radius: 10px;
    
    transform:  scale(0) ;
    padding-top: 20px;
    text-align: center;

    #caller-ring {
        width: 110px;
        margin: auto;
        opacity: 0;
        margin-top: -109px;
        
        img {
            z-index: 0;
            width: 100%;
        }
    }
    #caller-photo {
        opacity: 0;
        width: 100px;
        margin: auto;
        
        img {
            margin-bottom: 20px;
            z-index: 50;
            width: 100%;
        }
    }
    #caller-name {
        opacity: 0;
        padding: 10px;
        font-weight: 600;
        margin-top: -15px;
    }
    #caller-title {
        opacity: 0;
        h3 {
            margin-top: 5px;
        }
        h4 {
            margin-top: -15px;
            opacity: .7;
        }
        padding-bottom: 10px;
    }
    #caller-info-bg {
        border-radius: 10px;
        width: 200px;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -1;

        background: rgb(2,0,36);
        background: linear-gradient(0deg, rgba(2,0,36, .4) 0%, rgba(9,9,121, .6) 35%, rgba(0,212,255, .3) 100%);
        /*
        background-color: rgba(0, 0, 0, 0.6);
        */
    }
}

#options-info-panel {
    border-radius: 10px;
    width: 200px;
    height: auto;
    position: absolute;
    border-top: 2px solid white;
    border-bottom: 1px solid white;
    transform:  scale(0) ;
    border-radius: 10px;
    color: white;
    margin: auto;

    width: 200px;
    height: auto;
    position: absolute;
    border-top: 2px solid white;
    border-bottom: 1px solid white;
    color: white;
    border-radius: 10px;
    margin: auto;


    .info-segment {
        width: 95%;
        margin: auto;
        height: 100%;
        position: relative;
        padding: 5px;
      
        h2 {
            text-align: center;
            font-size: 14px;
            opacity: 0;
        }

        h3 {
            font-weight: bold;
            margin-bottom: 20px;
            padding-left: 5px;
            opacity: 0;
        }
        h4 {
            opacity: 1;
            padding-left: 15px;
            font-size: 14px;
            letter-spacing: 0.2px;
            opacity: 0;
        }
        #options-info-bg {
            border-radius: 10px;
            width: 200px;
            height: 100%;
            position: absolute;
            top: 0;
            opacity: 0;
            z-index: -1;

            background: rgb(2,0,36);
            background: linear-gradient(0deg, rgba(2,0,36, .4) 0%, rgba(9,9,121, .6) 35%, rgba(0,212,255, .3) 100%);

/*
            background-color: rgba(0, 0, 0, 0.6);
            */
        }
    }

    #call-assist {
        margin-bottom: 10px;
        opacity: 1;

        #siri {
            width: 43px;
            height: auto;
            margin: auto;
            position: relative;
            display: block;
            top: 0;
            padding: 3px;
            opacity: 0;
        }
    }



}